<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="net.devmond.shell.MondShellStartup"></startup>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/mondshell"
            class="net.devmond.shell.http.CommandServlet"
            load-on-startup="false">
      </servlet>
   </extension>

</plugin>
